[alias]
# xlaunch is a cross platform xtask launcher this way we don't
# have to hardcode target in this alias
xtask = "run -q --package xlaunch --release --"
xrun = "xtask run"
xbuild = "xtask build"
xrelease = "xtask release"
