[package]
name = "kunai-common"
version = "0.1.0"
edition = "2021"

[features]
default = []
user = [
    "aya",
    "dns-parser",
    "aya-obj",
    "uuid",
    "tokio",
    "bytes",
    "futures",
    "lru-st",
    "thiserror",
]

[dependencies]
# Non Aya deps
lru-st = { git = "https://github.com/0xrawsec/lru-st/", branch = "master", features = [
    "async",
], optional = true }
dns-parser = { version = "0.8.0", optional = true }
uuid = { version = "1.3.0", optional = true }
cfg-if = "1.0.0"
memoffset = "0.8.0"
paste = "1.0"
tokio = { version = "1.24", features = [
    "macros",
    "rt",
    "rt-multi-thread",
    "net",
    "signal",
    "sync",
    "time",
], optional = true }
thiserror = { version = "1.0", optional = true }
kunai-macros = { path = "../kunai-macros" }
# part of tokio framework
bytes = { version = "1", optional = true }
futures = { version = "0.3", optional = true }
# Aya deps
aya = { git = "https://github.com/aya-rs/aya", branch = "main", optional = true }
aya-bpf = { git = "https://github.com/aya-rs/aya", branch = "main" }
aya-log-ebpf = { git = "https://github.com/aya-rs/aya", branch = "main" }
aya-obj = { git = "https://github.com/aya-rs/aya", branch = "main", optional = true }

[dev-dependencies]
# Non Aya deps
dns-parser = { version = "0.8.0" }
cfg-if = "1.0.0"
memoffset = "0.8.0"
uuid = "1.3.0"
bytes = { version = "1" }
thiserror = { version = "1.0" }
# Aya deps
aya = { git = "https://github.com/aya-rs/aya", branch = "main" }
aya-bpf = { git = "https://github.com/aya-rs/aya", branch = "main" }
aya-log-ebpf = { git = "https://github.com/aya-rs/aya", branch = "main" }
aya-obj = { git = "https://github.com/aya-rs/aya", branch = "main" }
