name: CI

on:
  schedule:
    - cron: "37 13 * * *"
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build ${{ matrix.platform.target }}
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      fail-fast: false
      matrix:
        platform:
          - runner: ubuntu-latest
            target: x86_64
          - runner: ubuntu-24.04-arm
            target: aarch64

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install system tools
        run: |
          sudo apt update
          sudo apt install -y clang lld libbpf-dev

      # we need to fetch rust deps first to speed up cargo xtask
      - name: Cache Rust dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo
            ~/.rustup
            target
          key: ${{ runner.os }}-${{ matrix.platform.target }}-rust-${{ hashFiles('**/Cargo.lock', '**/.github/workflows/ci.yml') }}

      - name: Run clippy on full project
        run: cargo xtask clippy -- --workspace -- -D warnings

      - name: Install bpf-linker
        run: cargo install bpf-linker

      - name: Build (eBPF and userland)
        run: cargo xtask build --release -- -vv

  tests:
    needs: build

    name: Testing on ${{ matrix.platform.arch }}
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      fail-fast: false
      matrix:
        platform:
          - runner: ubuntu-latest
            target: x86_64
            packages: qemu-system-x86
          - runner: ubuntu-24.04-arm
            target: aarch64
            packages: qemu-system-arm

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install system tools
        run: |
          sudo apt update
          sudo apt install -y ${{ matrix.platform.packages }} libbpf-dev

      # we need to fetch rust deps first to speed up cargo xtask
      - name: Cache Rust dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo
            ~/.rustup
            target
          key: ${{ runner.os }}-${{ matrix.arch }}-rust-${{ hashFiles('**/Cargo.lock', '**/.github/workflows/ci.yml') }}

      - name: Set kernel cache key
        run: echo "KERNEL_CACHE_KEY=cache-vmlinuz-${{ matrix.arch }}-cache-$(date +%Y-%m-%d)" >> $GITHUB_ENV

      - name: Cache Linux Kernels
        uses: actions/cache@v4
        with:
          path: cache
          key: ${{ env.KERNEL_CACHE_KEY }}

      - name: Linux Kernel LTS 5.4
        env:
          ARCH: ${{ matrix.platform.target }}
        run: ./scripts/ci/test_kernel.sh 5.4

      - name: Linux Kernel LTS 5.10
        env:
          ARCH: ${{ matrix.platform.target }}
        run: ./scripts/ci/test_kernel.sh 5.10

      - name: Linux Kernel LTS 5.15
        env:
          ARCH: ${{ matrix.platform.target }}
        run: ./scripts/ci/test_kernel.sh 5.15

      - name: Linux Kernel LTS 6.1
        env:
          ARCH: ${{ matrix.platform.target }}
        run: ./scripts/ci/test_kernel.sh 6.1

      - name: Linux Kernel LTS 6.6
        env:
          ARCH: ${{ matrix.platform.target }}
        run: ./scripts/ci/test_kernel.sh 6.6
