name: Kernel Change Tracker

on: 
  schedule:
  - cron: '37 13 * * *'
  
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  track:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        path: kunai

    - name: Checkout Linux Protos
      uses: actions/checkout@v4
      with:
        repository: kunai-project/linux-protos
        path: ./linux-protos

    - name: Test Kunai Hooks Prototypes
      run: |
        set -euo pipefail

        while read mp 
        do
            version=$(cut -d ':' -f 1 <<<$mp)
            linux_protos="./linux-protos/protos/$version.txt.gz"
            match=$(cut -d ':' -f 2- <<<$mp)

            if [ -f $linux_protos ]
            then
                echo "searching: $mp" 
                zgrep -F "$match" $linux_protos
            fi
        done < <(grep -oPR --include='*.rs' 'match-proto:.*$' ./kunai/kunai-ebpf | cut -d ':' -f 3- | sort -V)
        
        
        
